@import 'swiper/css';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;


.invisible {
    pointer-events: none;
}

body.swal2-shown {
    overflow: auto !important;
}

.menu {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .toggle {
    position: relative;
    height: 55px;
    width: 55px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.9s;
    z-index: 5;
}

.menu.active .toggle {
    transform: rotate(360deg);
    box-shadow:
        0 6px 8px rgba(0, 0, 0, 0.15),
        0 0 0 2px #333,
        0 0 0 8px #fff;
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(360deg / 8 * var(--i)));
    /* transform-origin: 80px; */
    scale: 0;
    transition-delay: calc(0.05s * var(--i));
}

.menu.active li {
    scale: 1;
    /* transform-origin: 80px; */
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(80px);
    margin-top: -25px;
}

.menu li a {
    position: relative;
    display: flex;
    transform: rotate(calc(360deg / -8 * var(--i)));
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.75rem;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    text-decoration: none;
}

.menu li:hover a {
    /* font-size: 1.8rem; */
    box-shadow:
        0 0 0 2px var(--clr),
        0 0 0 6px #fff;

    backface-visibility: visible;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-slideIn {
    animation: slideIn 0.2s ease-out forwards;
}

.animate-slideOut {
    animation: slideOut 0.2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.4s ease-in forwards;
}

nav ul li:hover .ChevronDown {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg);
}


.addCart-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1dbb6e;
    color: white;

    width: 35px;
    height: 35px;

    border-radius: 25px;
    overflow: hidden;
    white-space: nowrap;

    transition:
        width 0.4s ease,
        background-color 0.3s ease;
}

.addCart-btn:hover {
    width: 120px;
    gap: 8px;
    text-align: center;

}

.addCart-btn span {
    opacity: 0;
    max-width: 0;
    margin-bottom: 2px;
    overflow: hidden;

    transition:
        opacity 0.25s ease,
        max-width 0.4s ease;
}

.addCart-btn:hover span {
    opacity: 1;
    max-width: 100px;
}

.ShoppingCart {
    flex-shrink: 0;
    transition: transform 0.5s ease;
}

.addCart-btn:hover .ShoppingCart {
    transform: rotate(-360deg);
}

/*----------------------------------------------------*/

.swiper-blur {
    position: relative;
}

.swiper-blur::before,
.swiper-blur::after {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-blur::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* opacity: 0.8; */
}

.swiper-blur::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* opacity: 0.9; */
}